{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>About Nikhil</title>
	<link rel="stylesheet" type = "text/css" href="{% static 'expensify/css/about_style.css' %}"/>
    <script src="https://kit.fontawesome.com/572ffce8ef.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">

        <div class="profilePic">
            <img src=" {% static 'expensify/images/Nick.jpg' %}" title="SaiNikhil Segu" />
            <h2>SaiNikhil Segu</h2>
        </div>

        <ul>
            <li><a href="{% url 'aboutContent' %}">About</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'workExperience' %}">Work Experience</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="{% url 'achievements' %}">Awards and Recognition</a></li>
        </ul> 
        <div class="social_media">
          <a href="https://www.linkedin.com/in/nikhilsegu/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-solid fa-mobile-screen-button"></i></a>
          <a href="https://www.instagram.com/nick_09/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="main_content">

        <header>
            <div class="header_right">
             <ul>
                <li><a href="{% url 'home' %}" title="Home">HOME </a></li>
                <li><a href="{% url 'aboutContent' %}" title="About">ABOUT </a></li>
                <li><a href="#" class="signup"> LogIn </a></li>
             </ul>
            </div>
        </header>

        <div id="content" class="info">

            {% block content %} {% endblock %}
          
        </div>
      
    </div>
</div>

</body>

</html>
<!---
<script>
    
    function eduContent(){
        var eduCont = document.querySelector('#education');
        var aboutCont = document.querySelector('#about');
        console.log(eduCont);
        aboutCont.style.display="none";
        eduCont.style.display="block";
    }

</script>
-->