{% extends "expensify/about.html" %}

{% block content %}

	<div> 
		<h4>This is SaiNikhil Segu,</h4>
	</div>
	<div class="aboutCont">
		<h5>I am an IT professional with over 3.8 years of experience in the field of <i> software engineering </i> and 8 months of experience as a <i> full stack developer intern </i>. I have participated in various coding competitions such as HackerRank, CodeVita, CodeChef, and LeetCode. I am skilled in implementing effective strategies and leading a team in an agile manner. I am looking for opportunities to work to my full potential in a challenging environment, collaborate with diverse groups of people, and enhance my professional skills through learning and career growth experiences.</h5>
	</div>

{% endblock content %}
