{% extends 'expensify/about.html' %}

{% block content %}

	<div>
		<h4>Achievements</h4>
	</div>

	<div class="achivements">

		<p> Successfully completed and achieved over 25 certificates on Agile foundation, SCRUM master, Predictive Analysis, AI Algorithms, Docker, Algorithms on Strings, through LinkedIn learning and Coursera</p>
		<p>Knowledge on Data Analysis with Python and used libraries like Numpy, Pandas and certified with IBM</p>
		<p>Awards and Recognition: Received “Bravo award” for FY 2020-21 from Applied Materials</p>
		<p>Achieved 1st prize in two days national level workshop on “Networking, Routing and Switching Concepts” held at Veltech University, Chennai</p>
		<p>Got 1 Silver and 2 Bronze Medals in the HackerRank coding competitions</p>
		<p> Got first prize for presenting “Automatic Schedule Generator” in national level TechExpo'17 conducted at Veltech University</p>
		<p> Won first runner-up for creating "HelloDoc" application in TechExpo'16 conducted at Veltech Univeristy</p>
		<p>Completed a case-study on networking and topologies at South Western Railways, Bangalore, India</p>


	</div>

{% endblock content %}