{% extends 'expensify/about.html' %}

{% block content %}

	<div>
		
		<h4>Skills</h4>

	</div>

	<div class="skills">

		<ul>
			<li><div class="skillName">Python</div> <div class="skillProgress"><span style="width:95%;"></span></div> <div class="per">95%</div></li>
			<li><div class="skillName">Java</div> <div class="skillProgress"><span style="width:80%;"></span></div> <div class="per">80%</div></li>
			<li><div class="skillName">PHP</div> <div class="skillProgress"><span style="width:60%;"></span></div> <div class="per">60%</div></li>
			<li><div class="skillName">Django</div> <div class="skillProgress"><span style="width:90%;"></span></div> <div class="per">90%</div></li>
			<li><div class="skillName">React</div> <div class="skillProgress"><span style="width:60%;"></span></div> <div class="per">60%</div></li>
			<li><div class="skillName">SQL</div> <div class="skillProgress"><span style="width:90%;"></span></div> <div class="per">90%</div></li>
			<li><div class="skillName">MongoDB</div> <div class="skillProgress"><span style="width:85%;"></span></div> <div class="per">85%</div></li>
			<li><div class="skillName">PySpark</div> <div class="skillProgress"><span style="width:70%;"></span></div> <div class="per">70%</div></li>
			<li><div class="skillName">Apache Kafka</div> <div class="skillProgress"><span style="width:50%;"></span></div> <div class="per">50%</div></li>
			<li><div class="skillName">Kohana</div> <div class="skillProgress"><span style="width:60%;"></span></div> <div class="per">60%</div></li>
						
		</ul>
		
	</div>

	


	</div>

{% endblock content %}