{% extends 'expensify/about.html' %}
{% load static %}


{% block content %}

	<div>
		
		<h5> I had an experience of 3.8 years with Applied Materials and 8 months of Internship experience with NDOT technologies. More details are below,

		</h5>

	</div>

	<div class="workExp">

		<div class="logo">

			<img src="{% static 'expensify/images/amat_logo2.png' %}">

		</div>
		
		<div class="title">
			<h4> <b>Senior Software Engineer</b></h4>
			<h4> Applied Materials</h4>
			<p>Chennai, India</p>
			<p>Sep 2018- Jun 2022</p>
		</div>
	</div>	

	<div class="expDesc">

		<p>Ensured smooth delivery of creating python logics to run SmartFactory solutions and develop webpages to track and analyze the performance of tasks</p>
		<p>Responsible to gather requirements and design the project in Microservice</p>
		<p>Develop the project in Agile manner and perform proof of concept with customers</p>
		<p>Involved in creating servers and building repository using AMAT Proprietary tools such as APF IGT, APF Admin Client</p>
		<p>Experienced in creating logics to automate the entire fab process and schedule the tasks based on triggers in database</p>
		<p>Developed views and templates with Python and Django’s view controller and templating the language to create a user-friendly website interface</p>
		<p>Involved in data integration and analysis based on Spark SQL with PySpark modules in Python</p>
		<p>Performed various testing methods such as Unit Testing, Integration Testing, User Acceptance Testing, Webservice Testing</p>
		<p>Involved in deployment of a project, post deployment support, and documentation of the project for customer review</p>
		<p>Developed 2 projects on-site single-handedly out of 5 projects</p>
		<p>Technologies used - Python, Django, MySQL, PySpark, Apache Kafke, APF Formatter, APF Activity Manager</p>

	</div>

	<div class="workExp">

		<div class="logo">

			<img src="{% static 'expensify/images/ndot_logo.png' %}">

		</div>
		
		<div class="title">
			<h4> <b>Full Stack Developer Intern</b></h4>
			<h4> NDOT Technologies</h4>
			<p>Coimbatore, India</p>
			<p>Feb 2018 - Sep 2018</p>
		</div>
	</div>	

	<div class="expDesc">

		<p>Developed websites for Fleet Management</p>
		<p>Involved in a team that analyzed driver behavior in real-time fleet management</p>
		<p>Develop the project in Agile manner and perform proof of concept with customers</p>
		<p>Technologies were PHP (Kohana & Laravel Framework), Django Framework, MongoDB, SQL, JavaScript, HTML5, CSS, AJAX and other web technologies</p>

	</div>

{% endblock content %}